nav ul li{
    display:inline-block;
    font-size: 1.3rem;
}
 
body{  
    scroll-behavior: smooth;
    line-height: 1.5em; 
}
#sfondo{
    background-attachment:fixed;
}
header, footer{
    block-size: 40%, 100%;
    max-height: 175px;
    background-color:#CC5C20;
    text-transform:uppercase;
    text-align: left;
    padding-right: 0px;
    font-family: 'Montserrat', serif;
    font-weight: 400;
}
.link{
    color:white;
}

nav ul li {
    margin-top: 30px;
    margin-right: 30px;
}
.attivo{
    text-decoration: underline solid 2px #144722;
    
}
.attiva{
    color:#144722;
}
.link:hover {
    color:#144722;
    text-decoration: underline antiquewhite;
}
.link:active {
    color:black;
    text-decoration: underline black;
}

#logo{
    height: 150px;
    width: auto;
    padding: 100px, 15px, 15px, 15px;
}
.allineamento{
    text-align: right;
}
.section{
    margin-top: 175px;
}
.centrareasinistra {
    text-align: left;
    background-color: #144722;
    color:antiquewhite;
    padding:50%, auto;
    margin-inline-end: 50%;
    border: 30px solid #144722;
   
}
.allineamentotesto{
    margin-inline-start: 16px;
    margin-inline-end: 16px;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 3em;
}
.centrareadestra{
    text-align: right;
    background-color: #faebd7;
    padding:50%, auto;
    margin-inline-start:50%;
    border: 30px solid antiquewhite;
    color:#144722;
}
.nero{
    color: black;
}

#bricioledipane{
    margin-inline-start: 3%;
    text-transform:none;
}
.titolocanzonesx{
    color: antiquewhite;
    text-transform:uppercase;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
}
.titolocanzonedx{
    color: #144722;
    text-transform:uppercase;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
}
.canzonisinistra{
    text-align: left;
    padding: 65%, auto;
    margin-inline-end: 35%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.canzonidestra{
    text-align: right;
    padding: 65%, auto;
    margin-inline-start: 35%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.footer nav ul li{
    display: inline-block;
}
.footercontainer{
    height:100px;
    width: 100%;
    padding-right: 0%;
}
.tabella{
    width: 33%;
    height: 33%;
}

/* pagina della galleria*/
.galleria {
    display: grid; /*se volessi togliere lo spazio tra le foto aggiungere: gab:-15%;*/
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(25, 5vw);
    grid-gap: 15px;
    background-color: #144722;
    margin-top: 175px;
}
.galleria__immagine {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galleria__elemento--1 /* serve per dire quante colonne e quante righe deve essere grande la foto nella galleria*/ {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-bottom: 0px;
}
.galleria__elemento--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
    margin-bottom: 0px;
}
.galleria__elemento--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    margin-bottom: 0px;
}
.galleria__elemento--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 11;
    margin-bottom: 0px;
}
.galleria__elemento--5 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 11;
    margin-bottom: 0px;
}
.galleria__elemento--6 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 12;
    margin-bottom: 0px;
}

.galleria__elemento--7 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 20;
    margin-bottom: 0px;
}
.galleria__elemento--8 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 15;
    margin-bottom: 0px;
}
.galleria__elemento--9{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 15;
    grid-row-end: 20;
    margin-bottom: 0px;    
}
.galleria__elemento--10 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 20;
    grid-row-end: 25;
    margin-bottom: 0px;
}
.galleria__elemento--11 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 20;
    grid-row-end: 25;
    margin-bottom: 0px;
}
/*pagina della lettera*/
.mainnewsletter{
    background-color: antiquewhite;
}
.sectionnewsletter{
    border-top: 300px;
}
.form{
    border-top: 15%;
    width:400px;
    height:600px;
    background:#144722;
    border-radius:8px;
    box-shadow: 1px 1px 40px #CC5C20;
    margin:calc(20vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif; /*cambiare font*/
    position:relative;
    margin-bottom: 200px;
    margin-top: 300px;
    
}
.titolonewsletter{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:antiquewhite;
    border-bottom:3px solid antiquewhite;
}
.newsletter{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid antiquewhite;
}
.newsletter:focus{
    border-bottom:2px solid antiquewhite;
}
.pnewsletter:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:antiquewhite;
}
.newsletterbutton{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid antiquewhite;
    background:0;
    color:antiquewhite;
    cursor:pointer;
    transition:all .3s;
}
.newsletterbutton:hover{
    background:white;
    color:#144722;   
}
.wrappernewsletter{
    width: 100%;
    height: auto;
    display:flex;
    text-align: center;
    color: antiquewhite;
}
.card{
    width: 30%;
    height: 20%;
    background-color: #144722;
    margin: 50px 10%;
    text-align: center;
    box-shadow: 1px 1px 40px #CC5C20;
    color:antiquewhite;
    border-top: 50%;
}
.icona {
    color: antiquewhite;
}
.icona:hover{
    color:#144722;
}
.card:hover {
    background-color: antiquewhite;
    color: #144722;
}

/*pagina curiosità*/
.bianchino{
    background-color: antiquewhite;
    color: #144722;
    border-bottom: 1px solid #144722;
    padding: 30px 16px;
    font-family: 'Montserrat', serif;
    font-weight: 400;
}
.verde{
    background-color: #144722;
    color: antiquewhite;
    border-bottom: 1px solid antiquewhite;
    text-align: center;
    padding: 30px 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
/*curiosità*/
.curiosità2 {
    margin: 0;
    padding: 9;
    font-family: sans-serif;
    background-color: antiquewhite;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}
.intramezzo{
    margin-top: 175px;
    background-color: #144722;
    text-align: center;
    font-size: 0.8rem;
    color:antiquewhite;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    width: 100%;
}
.contenitore {
    position: relative;
    height: auto;
    margin-top: 50px;
    margin-bottom: 0px;
}
.contenitore .box {
    position: relative;
    width: 90%;
    height: 310px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 10%;
    overflow: hidden;
    border-radius: 10px;
    
}
.contenitore .box .quesito {
    position: absolute;
    margin: 20px, 100px;
    border: 15px;
    width: 100%;
    height: 100%;
    background-color: #CC5C20;
    transition: 0.7s;
    z-index: 1;
    color:antiquewhite;
    font-size:1.2rem;
    text-align: center;
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Montserrat', sans-serif;
}
.contenitore .box:hover .quesito {
    top: 0px;
    color:antiquewhite;
    height: 120px;
    text-align: center;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
}
.contenitore .box .affermazione {
    position: absolute;
    margin-top: 20px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing:  border-box;
    transition: 0.7s;
    opacity: 0;
    background-color: #144722;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

.contenitore .box:hover .affermazione {
    top: 100px;
    opacity: 1;
}
.contenitore .box .affermazione p {
    margin: 0;
    padding: 0;
    color: antiquewhite;
}

/*pagina documentazione*/
.albero{
    max-width: 800px;
    height: auto;
}
.wireframe{
    max-width: 200px;
    max-height: 500px;
    margin: 20px;
}
.documentazione{
    background-color: antiquewhite;
    font-family:'Montserrat', sans-serif ;
    color:#144722;
}
.documentazione h2{
    font-weight: 700;
}